    canvas {
        outline: 1px solid white;
    }

    body {
        background-color: black;
        text-align: center;
        margin-top: 50px;
    }

    #audioSymbol {
        position: fixed;
        bottom: 6%;
        right: 20%;
        outline: 1px solid white;
        border-radius: 50%;
        
    }

    label {
        position: fixed;
        bottom: 6%;
        right: 3%;
            
    }

    input {
        position: fixed;
        bottom: 6%;
        right: 5%;
   
    }
    