canvas {
    border: 3px solid #181d2c;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    background: radial-gradient(ellipse at center, #181d2c 0%, #000000 55%, #181d2c 100%);
}

    body {
        background-color: black;
        text-align: center;
        margin-top: 50px;
    }

    #audioSymbol {
        position: fixed;
        bottom: 6%;
        right: 20%;
        outline: 1px solid white;
        border-radius: 50%;
        
    }

    #bugReport {
        position: fixed;
        bottom: 5%;
        right: 87.5%;
        outline: 1px solid white;
        margin: 3px;
    }

    span {
        position: fixed;
        bottom: 5%;
        right: 89%;
        padding: 10px 20px;
        background-color: #f0f0f0;
        color: #000;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        transition: background-color 0.34s ease-in-out;
        transition: color 0.21s ease-in-out;
    }
    
    span:hover {
        transform: translateY(-1px);
        outline: 1px solid white;
        color: #f0f0f0;
        background-color: #000;
        cursor: pointer;
    }

    span:active {
        transform: translateY(1px);
    }
    
    @keyframes bounce {
        0% {
            transform: translateY(0);
        }
        50% {
            transform: translateY(-6px);
        }
        100% {
            transform: translateY(0);
        }
    }

    label {
        position: fixed;
        bottom: 6%;
        right: 3%;
            
    }

    input {
        position: fixed;
        bottom: 6%;
        right: 5%;
   
    }