    canvas {
        outline: 1px solid white;
    }

    body {
        background-color: black;
        text-align: center;
        margin-top: 50px;
    }

    #audioSymbol {
        position: fixed;
        bottom: 6%;
        right: 20%;
        outline: 1px solid white;
        border-radius: 50%;
        
    }

    #bugReport {
        position: fixed;
        bottom: 5%;
        right: 87.5%;
        outline: 1px solid white;
        margin: 3px;
    }

    span {
        position: fixed;
        bottom: 5%;
        right: 89%;
        outline: 1px solid white;
        margin: 3px;
    }

    label {
        position: fixed;
        bottom: 6%;
        right: 3%;
            
    }

    input {
        position: fixed;
        bottom: 6%;
        right: 5%;
   
    }