body {
	background: url('../images/basic-tile-export.png') repeat;
}
h1 {
	color: white;
	margin: 13px;
	display: flex;
	justify-content: center;
	align-items: center;
}
th {
	color: white;
	margin: 13px;
}
p {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
label {
	color: white;
	display: flex;
	justify-content: center;
	align-items: center;
}
label#text {
	color: white;
}
tempdiv {
	color: black;
}
.bug-report-form label {
	display: block;
	margin-bottom: 5px;
	padding: 5px;
	margin: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.bug-report-form input, .bug-report-form select, .bug-report-form textarea {
	display: block;
	width: 100%;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-bottom: 10px;
}
.bug-report-form input[type="submit"] {
	background-color: #4CAF50;
	color: white;
	cursor: pointer;
	padding: 5px;
	margin: 5px;
}
.bug-report-form input[type="submit"]:hover {
	background-color: #45a049;
}
.bug-report-form textarea {
	height: 150px;
}
.bug-report-form {
	position: relative;
	margin: 5px;
}
.bug-report-form label.error {
	position: absolute;
	bottom: -20px;
	left: 0;
	color: red;
	font-size: 12px;
}
.bug-report {
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

.bug-report:hover {
  box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
  transform: translateY(-2px);
}

.clear-history-button {
	border: none;
	padding: 13px 21px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 144px;
	cursor: pointer;
	align-content: right;
  animation: shake 0.5s;
}

@keyframes shake {
  0% { transform: translateX(0); }
  10%, 90% { transform: translateX(-10px); }
  20%, 80% { transform: translateX(10px); }
  30%, 50%, 70% { transform: translateX(-10px); }
  40%, 60% { transform: translateX(10px); }
  100% { transform: translateX(0); }
}

.required-field::before {
	content: "*";
	color: red;
	margin-right: 5px;
}
.required-field {
	color: white;
}
input#email {
	margin: 5px;
}
input[type="submit"]:hover {
	background-color: #007bff;
	color: #fff;
	cursor: pointer;
}
input#version {
	color: white;
	justify-content: center;
	align-items: center;
	text-align: center;
}
select#severity {
	margin: 5px;
}
div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
form#bug-report-form.form-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.black-line {
	width: 105.1%;
	border: 3px solid black;
	margin-left: -5%;
	margin-top: 20px;
	margin-bottom: 20px;
}
  
  
  